<div class="col-md-12">
  <div class="group">
    <%= link_to("New group", new_group_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>*我就是个点</td>
        <td>我是标题</td>
        <td>我是描述</td>
        <td>建立者</td>
      </tr>
   </thead>
   <tbody>
     <% @groups.each do | group | %>
       <tr>
         <td>*</td>
         <td><%= link_to(group.title, group_path(group)) %></td>
         <td><%= simple_format(group.description) %></td>
         <td><%= group.user.email %></td>
         <td>
             <% if current_user && current_user == group.user %>
             <%= link_to("编辑", edit_group_path(group), class: "btn btn-sm btn-default")%>
             <%= link_to("删除", group_path(group), class: "btn btn-sm btn-default", method: :delete, data: {comfirm: "你真的确定要删除?" } )%>
             <% end %>
         </td>
       </tr>
    <% end %>
   </tbody>
  </table>
</div>
